<h1>This is my CAT show page</h1>
<br/>

<h2>  <%= @kitten.name %>  </h2>
<h2>  <%= @kitten.breed %>  </h2>
<h2>  <%= @kitten.personality %>  </h2>
<h2>  <%= @kitten.age %>  </h2>

<br/>

<%= link_to "All Cats", kittens_path %>